body {
    margin: 0;
    background-color: black;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'green red'
    'yellow blue';
    grid-gap: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: rgb(42, 42, 184);
    background-color: rgb(42, 42, 184);
    border-top-left-radius: 100%;
}

.red {
    grid-area: red;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: yellow;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: rgb(46, 155, 46);
    background-color: rgb(46, 155, 46);
    border-bottom-right-radius: 100%;
}

.selected {
    opacity: 0.4;
}